<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.START_ACTIVITY" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true">
        <service
            android:name=".MyAccessibilityService"
            android:label="Accessibility verifier"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/service_config" />
        </service>
        <service
            android:name=".ScreenshotService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

        <activity
            android:name=".ScreenshotActivity"
            android:excludeFromRecents="true"
            android:exported="false"/>

        <activity
            android:name=".SettingsActivity"
            android:label="Configurazione servizio"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>

        <receiver
            android:name=".axemodels.EventBroadCastReceiver"
            android:exported="false" />
    </application>

</manifest>